<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.common.mapper.UserMapper">

    <!--<cache/>-->

    <select id="getUser" resultType="User">
        select * from user where user.id = 1;
    </select>

    <insert id="insertUser" useGeneratedKeys="true">
        insert into user(
        user_name
        )
        values(
        #{user.userName}
        )
    </insert>

    <select id="testIf" resultType="com.example.demo.common.pojo.User">
        select * from user where 1=1
        <if test=" user.userName != null and user.userName != '' ">
            and user_name = #{user.userName}
        </if>
    </select>

    <select id="testChoose" resultType="com.example.demo.common.pojo.User">
        select * from user where 1=1
        <choose>
            <when test=" user.userSex = 2">
                and user_sex = 2
            </when>
            <when test=" user.userSex = 1">
                and user_sex = 1
            </when>
            <otherwise>

            </otherwise>
        </choose>
    </select>

    <select id="testWhere" resultType="com.example.demo.common.pojo.User">
        select * from user
        <where>
            <if test=" user.userName != null and user.userName != '' ">
                and user_name = #{user.userName}
            </if>
            <if test=" user.userSex != null and user.userSex != '' ">
                and user_sex = #{user.userSex}
            </if>
        </where>
    </select>

    <update id="testSet">
        update user
        <set>
            <if test=" user.userSex != null and user.userSex != '' ">
                user_sex = #{user.userSex},
            </if>
            <if test=" user.userAge != null and user.userAge != '' ">
                user_age = #{user.userAge},
            </if>
        </set>
        where user_name = #{user.userName}
    </update>

    <select id="testForEach" resultType="com.example.demo.common.pojo.User">
        select * from user where user_age in
        <foreach collection="userAgeList" item="userAgeItem" open="(" close=")" separator=",">
            #{userAgeItem}
        </foreach>
    </select>

    <resultMap id="resultMap1" type="com.example.demo.common.pojo.UserResultMap1" autoMapping="true">
        <!--外层对象属性封装，开启autoMapping自动映射-->
        <!--TODO 注意点1：所有id主键必须手动映射。 注意点2：必须开启所有autoMapping = true-->
        <!--<id column="id" property="id"/>-->
        <!--association：一对一关联对象属性-->
        <association property="user" javaType="com.example.demo.common.pojo.User" autoMapping="true">
            <!--内层对象属性封装，开启autoMapping自动映射-->
            <!--<id column="user_id" property="id"></id>-->
        </association>
    </resultMap>

    <select id="testResultMap1" resultMap="resultMap1">
        select * from user where id = 1;
    </select>

    <resultMap id="resultMap2" type="com.example.demo.common.pojo.UserResultMap2" autoMapping="true">
        <!--外层对象属性封装，开启autoMapping自动映射-->
        <!--<id column="id" property="id"/>-->
        <!--collection：一对多关联对象集合属性-->
        <collection property="userList" javaType="java.util.List" ofType="com.example.demo.common.pojo.User" autoMapping="true">
            <!--内层对象属性封装，开启autoMapping自动映射-->
            <!--<id column="user_id" property="id"/>-->
        </collection>
    </resultMap>

    <select id="testResultMap2" resultMap="resultMap2">
        select * from user where id > 1;
    </select>


    <!--resultMap标签-->
    <!--
        主要解决了两大问题：
            (1)数据表字段名与实体类属性名不一致(也不满足驼峰匹配)，无法完成结果集的自动映射，需要起别名才能完成映射。
            (2)复杂的关联查询，结果集无法直接完成映射。
    -->
    <!--<resultMap id="userResultMap" type="com.example.demo.common.pojo.User" autoMapping="true">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_age" property="userAge"/>
        <association property="father" javaType="com.example.demo.common.pojo.User" autoMapping="true"/>
        <collection property="sons" javaType="java.util.List" autoMapping="true"/>
    </resultMap>

    <select id="testResultMap" resultMap="userResultMap">
        select * from user where id = 1
    </select>-->

</mapper>